<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1> Registro de Productos </h1>
<form th:action="@{/productos}" th:object="${producto}" method="post">

    <input type="hidden" th:field="*{id}" id="id"/>
    <br/>
    <label for="nombre">Nombre: </label>
    <br/>
    <input type="text" th:field="*{nombre}" id="nombre" required/>
    <br/>
    <label for="descripcion"> Descripción: </label>
    <br/>
    <input type="text" th:field="*{descripcion}" id="descripcion"/>
    <br/>
    <label for="precio"> Precio: </label>
    <br/>
    <input type="number" th:field="*{precio}" id="precio"/>
    <br/>
    <label for="cantidad"> Cantidad: </label>
    <br/>
    <input type="number" th:field="*{cantidad}" id="cantidad"/>
    <br/>
    <br/>
    <button type="submit">Guardar</button>
</form>
</body>
</html>